<h1>Главная</h1>

<ul>
    <li>
        <a href="/tasks">Задачи</a>
    </li>
    <li>
        <a href="/today-in-cinema">Сегодня в кино</a>
    </li>
    <li>
        <a href="/user">Аккаунт</a>
    </li>
</ul>
