<ul>
    <li>
        <a href="/">Главная</a>
    </li>
    <li>
        <a href="/tasks">Задачи</a>
    </li>
    <li>
        <a href="/today-in-cinema">Сегодня в кино</a>
    </li>
</ul>

<h1>Форма регистрации</h1>
<form action="/registration" method="POST">
    <div>
        <input type="text" name="email" placeholder="E-mail">
    </div>
    <div>
        <input type="text" name="fullName" placeholder="Имя">
    </div>
    <div>
        <input type="password" name="password" placeholder="Введите пароль">
    </div>
    <div>
        <input type="password" name="repassword" placeholder="Повторите пароль">
    </div>
    <div>
        <input type="submit" value="Регистрация">
    </div>
    <div>
        <a href="/auth">Авторизация</a>
    </div>
</form>