<h2>Task list</h2>
<form method="POST" action="/">
    <label for="title">Create new task:</label><br />
    <input type="text" name="title" placeholder="Enter task name...">
    <input type="submit" value="Insert">
</form>

<div>
    {{#if tasks}}
    <ul>
        {{#each tasks}}
        <li>
            <form method="POST" action="/modify">

                {{#if active}}
                {{this.title}}
                <input type="submit" name="modify" value="Done">

                {{else}}
                <span style="text-decoration: line-through;">{{this.title}}</span>
                <input type="submit" name="modify" value="Undone">
                {{/if}}

                <input type="submit" name="modify" value="Delete">

                <input type="hidden" name="id" value="{{this._id}}">
            </form>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>