<h2>Task list</h2>
<form method="POST" action="/">
    <label for="count">Create new task:</label><br />
    <input type="text" name="title" placeholder="Enter task name...">
    <input type="submit" value="Insert">
</form>

<div>      
    {{#if tasks}}
    <ul>
        {{#each tasks}}
        <li>
            {{this.title}} 
            <input type="submit" name="{{this._id}}" value="Done">
            <input type="submit" name="{{this._id}}" value="Delete">
        </li>
        {{/each}}
    </ul>
    {{/if}}
</div>